body {
    background: #ededed;
}

.main {
    margin: 0 auto;
    width: 900px;
    height: 1000px;
    border: 1px solid;
    background-color:aqua;
}

#main-my-page {
    margin: auto;
//    width: 1270px;
}

.div {
    width: 250px;
    height: 50px;
}

.content {
    display: none;
    width: 100px;
    height: 100px;
    background: red;
}

.popover {
    width: 260px;
}

.textmenu {
    padding: 10px 200px;
    background-color:red;
    padding: 20px;

}

.textmenu div{
    font-size: 12px;
    float:left;
}
.textmenu input[type=password], .textmenu input[type=email] {
    width: 100px;
    height:12px;
    font-size: 12px;
}

.login {
    height: 130px;
    margin-top: 25%;
    margin-left: 25%;
    position: static;
}


.login_statys {
    padding-right:10px;
    padding-top: 10px;
    margin-top:200px;
}

.men-pos {
    margin: 0px 0 0 15px;
}

#men-pos-text {
    margin: 5px 0 0 30px;
}

#status {
    margin: 6px 0 0 14px;
}

#status span {
    font-size: 12px
}

.topmenu ul{
    list-style:none;
    padding: 10px 200px;

}

.topmenu li{
    display:inline;
    padding:20px;
}

.topmenu li a {
    position:relative;
    font-size: 22px;
    padding: 5px 5px;
    text-decoration:none;
}

.categories {
    margin-left:300px;
    margin-top: 100px;
}

.user_panel {
    height:100%;
    margin: 0 0;
    width: 210px;
    background-color: red;
    position:absolute;
}

//top
.top {
   margin: 0;
   padding: 0;
   background: #ffffff;
   height: 50px;
   width: 1326px;
}

.top div {
    float: left;
    position: absolute;
}

#top_img {
    .getImage(150px, 28px);
    margin: 16px 14px;
}

#top_img img {
    .setMargian(-15px, -14px);
}

#discover {
    .getImage(12px, 12px);
    margin: 21px 6px;
}

#discover-text {
    margin: 18px 202px;
    z-index: 9999;
}

#discover img {
    .setMargian(-21px, -185px);
}

#collaborate {
    .getImage(15px, 12px);
    margin: 20px 70px;
}

#collaborate-text {
    margin: 18px 290px;
    z-index: 9999;
}

#v-line-div {
    width: 3px;
    margin: -15px 855px;
}

#v-line-div2 {
    width: 3px;
    margin: -15px 1158px;
}

.vertical-line {
    background: #dbdbdb;
    width: 2px;
    height: 39px;
}

#collaborate img {
    .setMargian(-20px,-272px);
}

#transact {
    .getImage(24px, 33px);
    margin: 12px 13px;
}

#transact-text {
    margin: 18px 393px;
    z-index: 9999;
}

#transact img {
    .setMargian(-12px,-370px);
}

#first-a a {
    color: #6b6b6b;
    text-decoration: none;
    font-size: 13px;
}

// search
#top_search {
    margin: 14px 656px;
    z-index: 9999;
}

#top_search input[type=text] {
    width: 165px;
    height: 18px;
    padding-left: 8px;
}

#alerts {
    .getImage(12px, 18px);
    margin: 14px 878px;
}

#alerts img {
    .setMargian(-14px, -878px);
}

#messages {
    .getImage(13px, 10px);
    margin: -24px 960px;
}

#messages img {
    .setMargian(-21px, -960px);
}

#updates {
    .getImage(12px, 12px);
    margin: -24px 1064px;
}

#updates img {
    .setMargian(-20px, -1064px);
}

.second-a {
    font-size: 13px;
    font-family: "Arial Black";
}

.second-a a {
    text-decoration: none;
}


.red_div a {
    padding: 1px 4px;
    background: #cd5c5c;
    color: #f0f8ff;
    .myRadius(3px, 3px, 3px, 3px);
}

#red_div1 {
    margin: 18px 891px;
    width: 63px
}

#red_div2 {
    margin: 18px 973px;
    width: 88px;
}

.blue_div a {
    padding: 1px 4px;
    background: #1e90ff;
    color: #f0f8ff;
    .myRadius(3px, 3px, 3px, 3px);
}

#blue_div {
    margin: 18px 1078px;
    width: 75px;
}


//Tabs

.tabs {
    position: absolute;
    margin-left: 255px;
    margin-top: 22px;
}

.tabNavigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tab {
    float: left;
    width: 129px;
    height: 28px;
    border: 1px solid #c7c7c7;
    margin-right: 4px;
    background: #f2f2f2;
    .myRadius(7px, 7px);
    text-align: center;
    padding-top: 10px;
    color: #696969;
}

.active-tab {
    border-bottom: 3px solid #f7f7f7;
    background: #f7f7f7;
}

.tab-menu {
    background: #f7f7f7;
    height: 81px;
    float: left;
    width: @tab-div-width;
}

.tab-menu-block {
    display: inline-block;
    float: left;
    vertical-align: middle;
}

.tab-div {
    width: @tab-div-width;
    height: 772px;
    border: 1px solid #c7c7c7;
    background: #f5f5f5;
    margin-top: 39px;
    .myRadius(0px, 7px, 7px, 7px);
}

@tab-div-width: 795px;

#scroll-tab {
    height: 640px;
    overflow: auto;
    float: left;
}

#scroll-span2 {
    overflow: auto;
    height: 484px;
    float: left;
    margin-top: 1px 0 0 1px ;
}


.tabNavigation li a:focus {
    outline: 0;
}



//rightSpan

#span1 {
    margin: 23px 10px;
    position: absolute;
}

#span2 {
    margin: 331px 1066px;
    position: absolute;
}


.rightSpan {
    padding: 0;
    list-style: none;
    margin: 0;
    font-size: 12px;
    color: #201D1D;
    background: #f5f5f5;
}

.leftSpan {
    padding: 1px;
    list-style: none;
    margin: 0;
    font-size: 12px;
    color: #c4c4c4;
    background: #f2f2f2;
}

#text-dropdown-span1 {
    color: #c4c4c4;
    font-style: 12px;
    width: 188px;
}

#span-ul1 {
    width: 235px;
    height: 543px;
}

#span-ul2 {
    width: 340px;
    height: 430px;
    .myRadius(0, 0, 7px, 7px);
}

#span-ul2 li {
    float: left;
    width: 333px
}

#span1 h3 {
    background: #212121;
    color: #ffffff;
    margin: 0;
    .myRadius(5px, 5px);
    font-size: 14px;
    width: 237px;
    line-height: normal;
    height: 33px;
}

#span1 h3 div {


}

.search-span-2 {
    margin: 11px 0 0 8px;
}

.search-span-2 input {
    width: 308px;
}


input, textarea, .uneditable-input {
    width: 308px;
}

.span2-sort {
    margin: 0;
    padding: 0;
    float: none;
    display: inline-block;
}

#top-span2 {
    background: #201D1D;
    color: #f0f8ff;
    margin: 0;
    .myRadius(5px, 5px);
    font-size: 14px;
    width: 340px;
    line-height: normal;
    height: 32px;
}

.popover.bottom {
    margin: 10px 100px;
}

.popover.bottom .arrow {
    left: 15%;
}

#slider-line1 {
    color: #b84948;
    font-size: 14px;
    margin: 3px 0 0 18px;
}

#slider-line2 {
    color: 666666;
    font-size: 13px;
    margin: 0 0 0 17px;
}

#slider-line3 {
    color: #666666;
    font-size: 12px;
    margin: 1px 0 0 17px;
}

#slider-line4 {
    color: #666666;
    font-size: 12px;
    margin: 11px 0 0 17px;
}


#navigation {
    float: left;
    margin: 0;
    padding: 0;
}

#navigation div {
    float: left;
    position: absolute;
}

#sort-s1 {
    margin: -21px 0 0 7px;
}

#sort-s2 {
    margin: -21px 0 0 118px;
}

#sort-s3 {
    margin: -21px 0 0 228px;
}

#sort-s4 {
    margin: 0px 0 0 7px;
}

#sort-s5 {
    margin: 0px 0 0 119px;
}

#sort-s6 {
    margin: 0px 0 0 230px;
}

#my-button1 {
    padding: 3px 10px;
    font-size: 12px;
    width: 83px;
    height: 22px;
}

#my-button2 {
    padding: 3px 10px;
    font-size: 12px;
    width: 80px;
    height: 22px
}

#my-button3 {
    padding: 3px 10px;
    font-size: 12px;
    width: 80px;
    height: 22px
}

.sp2-caret {
    float: right;
    margin: 1px 1px 0 0 ;
}

#span1 h3 div {
    display: inline-block;
}

#span2 h3 div {
    display: inline-block;
}

#h3_image1 {
    .getImage(13px, 11px);
    margin: 11px 12px 0 13px;
}

#h3_image1 img {
    .setMargian(-146px, -24px);
}

#h3_image4 {
    .getImage(23px, 13px);
    margin: 9px 0 0 14px;
}

#h3_image4 img {
    .setMargian(-389px, -1080px);
}


#h3_image2 {
    .getImage(12px, 11px);
    margin-right: 9px;
    float: right;
    margin-top: 15px;
}

#h3_image2 img {
    .setMargian(-267px, -74px);
}

#h3_image3 {
    .getImage(14px, 12px);
    margin-left: 175px;
}

#h3_image3 img {
    .setMargian(-265px, -73px);
}

#box-margin {
    margin: 1px 9px;
    width: 188px;
    height: 32px;
}


#text-btn-group {
    margin: 6px 0 0 9px;
}

#div-span2-align {
    float: left;
    margin: 40px 0 0 -17px;
}


.li-tab {
    height: 69px;
    width: @tab-div-width;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    float: left;
    line-height: 14px;
    background: #ffffff;
}

.li-span2 {
    height: 76px;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    float: left;
    line-height: 14px;
    background: #ffffff;
}

#li-ul-scroll {
    margin: 8px 0px;
}

#li-ul-scroll li {
    background: #ffffff;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    height: 58px;
}

#li-ul-scroll li:hover {
    background: #e3e3e3;
}

#li-ul-scroll li:hover #image-close {
    display: inline-block;
}

#load {
    float: left;
    margin: 8px 0 0 350px;
}

#load span {
    font-size: 14px;
    color: #c2c2c2;
}


#my-caret {
    border-top: 4px solid #c4c4c4;
    margin-left: 165px;
}

.caret-top {
    border-top: 4px solid #c4c4c4;
}

.caret-off span {
    border-right: 4px solid #a8a8a8;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}

.caret-on span {
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-top: 4px solid #a8a8a8;
}

.my-caret {
    float: right;
    margin-top: 6px;
}


.sort {
    color: #a8a8a8;
    font-size: 12px;
}

#sort1 {
    margin: 10px 0 0 14px;
}

#sort2 {
    margin: 10px 0 0 23px;
}

#sort3 {
    margin: 10px 0 0 28px;
}

#tab-btn1 {
    margin: 3px 0 0 15px;
}

#tab-btn2 {
    margin: 3px 0 0 23px;
}

#tab-btn3 {
    margin: 3px 0 0 28px;
}



.tab-menu .btn {
    font-size: 12px;
}

.button-size-tab a {
    width: 75px;
    height: 19px;
    padding: 5px 12px;
    white-space: normal;
}

a {
    text-decoration: none;
}


#btn-span-top {
    margin: 8px 1177px;
}

#top-btn-r {
    width: 125px;
    height: 30px;
}

.btn {
    text-align: left;
}


#table-image {
    .getImage(14px, 16px);
    }

#table-image img {
    .setMargian(-46px, 0px);
}

.red-lable {
    color: #b84948;
}

.black-lable {
    color: #808080;
}

.mini-lable {
    color: #cfcfcf;
    font-size: 12px;
}

#first-td {
    display: inline-block;
    vertical-align: top;
    margin: 5px -7px 0 8px;
    width: 30px;
}

#user-name {
    margin: 11px 0 0 16px;
}

#tab-line {
    margin: 17px 0 0 6px;
    vertical-align: super;
    float: left;
}

#ps2-text1 {
    margin: 9px 0 0 22px;
}

#ps2-text2 {
    margin: 3px 0 0 22px;
    font-size: 11x;
    color: #bfbfbf;
}

#tab-image {
    .getImage(40px, 40px);
}

#p-popover {
    color: black;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

#tab-image img {
    .setMargian(-211px, -275px);
}

#tab-line-main {
    float: left;
    width: 450px;
}

#span2-line-main {
    width: 205px;
    display: inline-block;
    padding: 1px;
}

#popover-line {
    width: 100px;
    display: inline-block;
    vertical-align: top;
    margin: 10px 5px;
}

#p2-popover {
    color: #a9a9a9;
    font-size: 12px;
    margin-top: 5px;
}

.popover-content {
    padding: 1px;
}

#tab-alert {
    text-decoration: underline;
    padding: 3px;
    color: #5f9ea0;
    cursor: pointer;
}

#span2-alert{
    text-decoration: underline;
    padding: 3px;
    color: #a9a9a9;
    cursor: pointer;
}

.slider {
    position: absolute;
    display: inline-table;
}

#slider1 {
    margin: 20px 1062px;
    background: #201D1D;
    .myRadius(7px, 7px);
    height: 109px;
    width: 344px;
}

#slider2 {
    background: #f5f5f5;
    margin: 129px 1062px;
    .myRadius(0px, 0px, 7px, 7px);
    height: 185px;
    border-bottom: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    border-left: 1px solid #c2c2c2;
    width: 342px;
}


#suggested_user {
    color: #f0f8ff;
    margin: 5px 0 0 35px;
}

#lible-suggested_user {
    .getImage(17px, 17px);
    position: absolute;
    margin: 6px 0 0 10px;
}

.image-slider-size {
    .getImage(20px, 20px);
}

.text-slider2 {
    float: left;
}

.image-slider-size2 {
    .getImage(105px, 105px);
    border: 1px solid #ebebeb;
    margin: 10px 0 0 12px;
    float: left;
}

.image-slider-size img {
    .setMargian(0px, 0px);
}

.image-slider-size2 img {
    width: 100%;
    height: 100%;
}

#img-msg {
    .getImage(14px, 16px);
    float: right;
    margin: 28px 17px;
}

#img-msg img {
    .setMargian(0, -72px);
}

#img-men {
    .getImage(14px, 16px);
    float: left;
}

#img-men img {
    .setMargian(0, -168px);
}

#mini-span2 {
     color: #a9a9a9;
     font-size: 12px;
     margin: 7px 0 0 12px;
}

#lible-suggested_user img {
    .setMargian(-77px, -1072px);
}

.active-slider {
    -moz-box-shadow: 0 0 5px 3px #f0ffff;
    -webkit-box-shadow: 0 0 5px 3px #f0ffff;
    box-shadow: 0 0 5px 3px #f0ffff;
}

#slider-code { height: 1%; overflow:hidden; padding: 0 0 0 0;   float: left;}
#slider-code .viewport { float: left; width: 290px; height: 81px; overflow: hidden; position: relative; margin: 4px 0 0 6px;}
#slider-code .buttons { background:url("all.PNG") no-repeat scroll 0 0 transparent; display: block; margin: 30px 0 0 9px; background-position: -1071px -126px; text-indent: -999em; float: left; width: 10px; height: 18px; overflow: hidden; position: relative; }
#slider-code .next { background-position: -1389px -126px; margin: 32px 0 0 13px;  }
#slider-code .disable { visibility: hidden; }
#slider-code .overview { list-style: none; position: absolute; padding: 0; margin: 2px; width: 230px; left: 0 top: 0; }
#slider-code .overview li{ float: left; margin: 0 10px 0 0; padding: 1px; height: 60px; width: 62px;}

#slider-code2 { height: 1%; overflow:hidden; padding: 5px 0 0 0;   }
#slider-code2 .viewport { float: left; width: 305px; height: 185px; overflow: hidden; position: relative; background: #ffffff;}
#slider-code2 .buttons2 { background:url("all.PNG") no-repeat scroll 0 0 transparent; display: block; margin: 75px 7px 0 5px; background-position: -1069px -253px; text-indent: -999em; float: left; width: 8px; height: 14px; overflow: hidden; position: relative; }
#slider-code2 .next { background-position: -1392px -253px; margin: 75px 0 0 6px;  }
#slider-code2 .disable { visibility: hidden; }
#slider-code2 .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 305px; left: 0 top: 0; }
#slider-code2 .overview li{ float: left; margin: 0 10px 0 0; padding: 1px; height: 185px; width: 305px;}


#tab-button {
    vertical-align: top;
    font-size: 12px;
    float: right;
}

#tab-btn-size {
    font-size: 12px;
    width: 92px;
    height: 25px;
    margin: 21px 7px 0 0;
    line-height: 14px;
}

#slider-button {
    float: left;
}

#slider-btn-1 {
    width: 87px;
    height: 26px;
    font-size: 12px;
    margin: 14px 0 0 107px;
    float: left;
    padding: 4px 21px;
}

#slider-btn-2 {
    width: 87px;
    height: 26px;
    font-size: 12px;
    margin: -25px 0 0 202px;
    float: left;
    padding: 4px 21px;
}

#scroll-popover {
    height: 200px;
    overflow: auto;
}

#li-popover {
    width: 240px;
    margin: 0;
    padding: 0;
    border-top: 1px solid #D8D1D1;
    border-bottom: 1px solid #D8D1D1;
    height: 60px;
    float: left;
}

#tab-button-2 {
    font-size: 12px;
    width: 104px;
    height: 26px;
    margin: 24px 19px 0 0;
    line-height: 14px;
}

.btn-inverse {
    background-image: linear-gradient(to bottom, #808080, #4d4d4d);
}

.my-btn {
    background-image: linear-gradient(to bottom, #e8e8e8, #c4bdbc);
    color: #707070;
}


#inline-td-main {
    width: 170px;
    display: inline-block;
}

#image-close {
    vertical-align: top;
    padding: 0 8px;
    float: right;
    width: 5px;
    display: none;
}

.li-new-style div {
    display: inline-block;
    background: white;
    vertical-align: top;
    margin: 0;
}

.li-new-style {
    border-bottom: 1px solid #a9a9a9;
    border-top: 1px solid #a9a9a9;
}

#scroll-span {
    height: 430px;
    overflow:auto;
}

.search-tab input {
    width: 207px;
    height: 23px;
}

.search-tab {
    float: right;
    margin: 34px 33px 0 0;
}

#tab-alert em{
    font-weight: normal;
	background: red;
	width: 180px;
	height: 45px;
	position: absolute;
	text-align: center;
	padding: 20px 12px 10px;
	font-style: normal;
	display: none;
}


//-------------------------------------------------------------
.getImage(@w:0px, @h:0px) {
    overflow: hidden;
    position: relative;
    width: @w;
    height: @h;
}

.setMargian(@t:0px, @l:0px) {
    position: absolute;
    top: @t;
    left: @l;
}

.myRadius(@t_l:0px, @t_r:0px, @b_l:0px, @b_r:0px) {
    border-radius: @t_l @t_r @b_l @b_r;
    -webkit-border-top-left-radius: @t_l;
    -webkit-border-top-right-radius: @t_r;
    -webkit-border-bottom-left-radius: @b_l;
    -webkit-border-bottom-right-radius: @b_r;
    -moz-border-radius-topleft: @t_l;
    -moz-border-radius-topright: @t_r;
    -moz-border-radius-bottomleft: @b_l;
    -moz-border-radius-bottomright: @b_r;
    -khtml-border-radius-topleft: @t_l;
    -khtml-border-radius-topright: @t_r;
    -khtml-border-radius-bottomleft: @b_l;
    -khtml-border-radius-bottomright: @b_r;
}
