.main {
    margin: 0 auto;
    width: 900px;
    height: 1000px;
    border: 1px solid;
    background-color:aqua;
}

.div {
    width: 250px;
    height: 50px;
}

.textmenu {
    padding: 10px 200px;
    background-color:red;
    padding: 20px;

}

.textmenu div{
    font-size: 12px;
    float:left;
}
.textmenu input[type=password], .textmenu input[type=email] {
    width: 100px;
    height:12px;
    font-size: 12px;
}

.login {
    height: 130px;
    margin-top: 25%;
    margin-left: 25%;
    position: static;
}


.login_statys {
    padding-right:10px;
    padding-top: 10px;
    margin-top:200px;
}

.topmenu ul{
    list-style:none;
    padding: 10px 200px;

}

.topmenu li{
    display:inline;
    padding:20px;
}

.topmenu li a {
    position:relative;
    font-size: 22px;
    padding: 5px 5px;
    text-decoration:none;
}

.categories {
    margin-left:300px;
    margin-top: 100px;
}

.user_panel {
    height:100%;
    margin: 0 0;
    width: 210px;
    background-color: red;
    position:absolute;
}

//top
.top {
   margin: 0;
   padding: 0;
}

.top div {
   display: inline-block;
   vertical-align: middle;
}

#top_img {
    .getImage(150px, 28px);
}

#top_img img {
    .setMargian(-15px, -14px);
}

#discover {
    .getImage(25px, 33px);
}

#discover img {
    .setMargian(-12px, -175px);
}

#collaborate {
    .getImage(24px, 33px);
    margin-left: 10px;
}

#collaborate img {
    .setMargian(-12px,-266px);
}

#transact {
    .getImage(24px, 33px);
    margin-left: 10px;
}

#transact img {
    .setMargian(-12px,-370px);
}

.top_menu {
    font-size: 11px;
}

.top_menu a {
    color: #696969;
}

a {
    text-decoration: none;
}

// search
#top_search {
    position: absolute;
    margin-left: 100px;
}

#top_search input[type=text] {
    width: 170px;
    height: 17px;
}

#alerts {
    .getImage(24px, 33px);
    margin-left: 300px;
}

#alerts img {
    .setMargian(-11px, -867px);
}

#messages {
    .getImage(24px, 33px);
    margin-left: 10px;
}

#messages img {
    .setMargian(-11px, -949px);
}

#updates {
    .getImage(24px, 33px);
    margin-left: 10px;
}

#updates img {
    .setMargian(-11px, -1053px);
}

.top_menu2 {
    font-size: 11px;
    font-family: "Arial Black";
    font-weight: bold;
}

.top_menu2 a {

}

.red_div a {
    padding: 2px;
    background: #cd5c5c;
    color: #f0f8ff;
    .myRadius(5px);
}

.blue_div a {
    padding: 2px;
    background: #1e90ff;
    color: #f0f8ff;
    .myRadius(5px);
}

.top_box {
    margin-left: 10px;
}

.sel {
    color: #696969;
}

//Tabs

.tabs {
    position: absolute;
    margin-left: 250px;
    margin-top: 30px;
}

.tabNavigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tabs ul li {
    display: inline;
    border: 1px solid #a9a9a9;
    margin-right: 5px;
    background: #f0f8ff;
    padding: 10px;
}

.tabs ul li a {
    text-decoration: none;
    color: black;
    padding: 3px 10px;
}

.tabs div {
    padding: 5px;
    width: 700px;
    height: 300px;
    border: 1px solid #a9a9a9;
    background: #f0f8ff;
    margin-top: 10px;
}

.tabNavigation li a:focus {
    outline: 0;
}

//rightSpan

.span {
    margin-top: 20px;
    position: absolute;

}

.rightSpan {
    padding: 0;
    list-style: none;
    border: 1px solid #a9a9a9;
    margin: 0;
}

.span h3 {
    background: -moz-CellHighlightText;
    color: #f0f8ff;
    margin: 0;
    padding: 8px;
    .myRadius(10px);
    font-size: 12px;
    width: 220px;
}

.span h3 div {
    display: inline-block;
}

#h3_image1 {
    .getImage(21px, 12px);
}

#h3_image1 img {
    .setMargian(-82px, -20px);
}

#h3_image2 {
    .getImage(21px, 12px);
    margin-left: 60px;
}

#h3_image2 img {
    .setMargian(-82px, -215px);
}
//-------------------------------------------------------------
.getImage(@w:0px, @h:0px) {
    overflow: hidden;
    position: relative;
    width: @w;
    height: @h;
}

.setMargian(@t:0px, @l:0px) {
    position: absolute;
    top: @t;
    left: @l;
}

.myRadius(@r: 5px) {
    border-radius: @r;
    -webkit-border-radius: @r;
    -moz-border-radius: @r;
    -khtml-border-radius: @r;
}
