/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
    background-color:#ffe4c4;
}

.main {
    margin: 0 auto;
    width: 900px;
    height: 1000px;
    border: 1px solid;
    background-color:aqua;
}

.div {
    width: 250px;
    height: 50px;
}

.login {
    height: 130px;
    margin-top: 25%;
    margin-left: 25%;
    position: static;
}

#topmenu {
    list-style: none;
    display: block;
    float: left;
    padding: 0;
    width: 500px;
    font-size: 26pt;
    border: 1pt;
}

#topmenu li {
    float: left;
    font-weight: bold;
    padding: 10px 0px
}

#topmenu li a {
    padding: 0 10px;
}


table.link tbody tr:hover {
    background-color: #deb887;
}

table.link tbody tr td.v {
    display:none;
}

table.link tbody tr:hover td.v {
    display: table-cell;
}

li.line div {
    display:inline-block;
    margin-left:10px;
    margin-top:5px;
    height:20px;
}

li.line div.v {
    display: none;
}

li.line:hover div.v {
    display: inline-block;
}

div.title div {
    display:inline-block;
    margin-left:15px;
}

.login_statys {
    padding-right:10px;
    padding-top: 10px;
    margin-top:200px;
}

.topmenu ul{
    list-style:none;
    padding: 10px 200px;

}

.topmenu li{
    display:inline;
    padding:20px;
}

.topmenu li a {
    position:relative;
    font-size: 22px;
    padding: 5px 5px;
    text-decoration:none;
}

.categories {
    margin-left:300px;
    margin-top: 100px;
}

.user_panel {
    height:100%;
    margin: 0 0;
    width: 210px;
    background-color: red;
    position:absolute;
}