/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.main {
    width: 700px;
    height: 100%;
    margin-left: 25%;
    position: fixed;
}

.div {
    width: 250px;
    height: 50px;
}

.login {
    height: 130px;
    margin-top: 25%;
    margin-left: 25%;
    position: absolute;
}

#topmenu {
    list-style: none;
    display: block;
    margin-left: 25%;
    float: left;
    padding: 0;
    width: 500px;
    font-size: 26pt;
    border: 1pt;
}

#topmenu li {
    float: left;
    font-weight: bold;
    padding: 10px 0px
}

#topmenu li a {
    padding: 0 10px;
}


table.link tbody tr:hover {
    background-color: #deb887;
}

table.link tbody tr td.v {
    display:none;
}

table.link tbody tr:hover td.v {
    display: table-cell;
}

li.line div {
    display:inline-block;
    margin-left:10px;
}
