/* Style du conteneur */

.kirousel_container{
	position:relative;
	/* width:560px; géré dynamiquement */
	/*margin: 10px 0px;*/
	padding: 15px 15px 35px 15px;
	background: #f6f2eb;
	clear: both;
}
.kirousel_container .kirousel div{margin:0;padding:0;border:0;}
.kirousel_container img{border:0}

/* Bloc de contenu de l'image */
.kirousel_container .kirousel.js .kirousel-wrap{
	/* width:500px;  géré dynamiquement */
	margin:0px auto;
}
.kirousel_container .kirousel.js ul li{
	display:inline;
	float:left;
	margin: 0px!important;
	padding:0px!important;
	/* width:500px; géré dynamiquement */
	text-align:center;
}
.kirousel_container .kirousel ul { margin:0px!important;padding:0!important; }

/* Contrôle du défilement : boutons de navigations */
.kirousel_container .kirousel .kirousel-control{
	margin:0px;
	padding:0px;
	font-weight:bold;
	font-size:11px;
	cursor:pointer;
}
.kirousel_container .kirousel .disabled {color:#ddd;cursor:default; background:#f4f4f4;} /* plus de défilement possible */
.kirousel_container .kirousel .next { position: absolute; right: 13px; text-align: right; }
.kirousel_container .kirousel .previous { position: absolute; left: 13px; }
.kirousel_container .kirousel .next.hover, .kirousel_container .kirousel .previous.hover { background:url(prev-active.png) no-repeat top right; }

/*.kirousel_container .kirousel .disabled{color:#ddd;cursor:default;background:#f4f4f4;} inutile car flèches en images*/
.kirousel_container .kirousel .disabled { display: none; } /* pas d'image, donc pas de navigation */


.kirousel_container div.center-wrap {clear:both; border:0; margin: 10px 0px 0x 0px; padding: 10px 0px 10px 0px; }
*html .kirousel_container div.center-wrap { margin: -7px 0px 0px 0px; padding: 0px;}
.kirousel_container div.center-wrap div{border:0; padding: 0px; }

/* pagination */
.kirousel_container .kirousel-pagination { margin: 0px 28px!important; text-align: center; padding: 0px; }
.kirousel_container div.center-wrap p { line-height: 30px; padding: 0px; margin: 0px; }
.kirousel_container div.center-wrap a{
	margin: 0px;
	padding:  2px;
	border:1px solid #d3d3d3;
	background:#f4f4f4;	
	cursor:pointer;
	text-decoration:none;
}
.kirousel_container div.center-wrap a:hover{
	border:1px solid #808080;
}
.kirousel_container div.center-wrap a.active{background:#fff;}


.kirousel_container .kirousel, .kirousel_container .kirousel .kirousel-wrap{margin:0 0 15px;border:0;}

