body {
    margin: 0;
    padding: 0;
}

.main {
    margin: 0 auto;
    width: 900px;
    height: 1000px;
}

a {
    text-decoration: none;
}

.textmenu {
    padding: 10px 200px;
    padding: 20px;
    font-size: 12px;
    width:150px;
    position:absolute;
}

.textmenu input[type=password], .textmenu input[type=email] {
    width: 100px;
    height:12px;
    font-size: 12px;
}

.top div{
    display:inline-block;
}

.panel {
    margin:0 200px;
    position:absolute;
}

