div id="category_ol"
  div class="title"
    div №
    div Category

  div
    ol class="sortable"
      - @categories.each do |category|
          li class="line" id="category_#{category.id}"
            div
              = link_to category.name, tasks_path(:category_id => category)
            div class="v"
              = link_to image_tag("srch_24.png"), category
            div class="v"
              = link_to image_tag("tools_24.png"), edit_category_path(category)
            div class="v"
              = link_to image_tag("trash_24.png"), category, method: :delete, data: {confirm: 'Are you sure?'}, :remote => true

javascript:
    $(function() {
        $(".sortable").sortable({
            update: function(event, ui) {
                var str=$(this).sortable('serialize');
                $.ajax({
                    url: "#{categories_orders_path}",
                    data: str
                });
            }
        })
    });


