<h1>New category</h1>

<%= render 'form' %>
<br><br><br>


<h1>Listing categories</h1>

<table id="category_table">
  <thead>
    <tr>
      <th>№</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody class="link">
      <%= render :partial => 'table.html' %>
  </tbody>
</table>

<br />
